{% extends 'base.html.twig' %}

{% block title %}New ReservationRestaurant{% endblock %}

{% block body %}
    <h1>Create new ReservationRestaurant</h1>

    {{ include('reservation_restaurant/_form.html.twig') }}

    <a href="{{ path('reservation_restaurant_index') }}">back to list</a>
{% endblock %}
