{% extends 'Front/front.html.twig' %}
{% block body %}
 <div id="main">
           <!-- Post -->
	 <section class="post">
		<header class="major">
		  <span class="date">April 25, 2017</span>
			 <h1>Mot de passe<br />
				oublié</h1>
			  </header>
			    <div class="section-content">
                   <div class="col-md-12">
                     <fieldset>
                      {{ form(emailForm) }}
                     </fieldset>
                   </div>
			    </div>		  
				
				
    </section> 
</div>
{% endblock %}
