{% extends 'Front/front.html.twig' %}
{% block body %}
     <div id="main">
           <!-- Post -->
	 <section class="post">
		<header class="major">
		  <span class="date">April 25, 2017</span>
			 <h1>Entrez votre<br />
				nouveau mot de passe</h1>
			  </header>
			    <form method="post">
					<div class="row gtr-uniform">
					  <div class="col-6 col-12-xsmall">
					     <label for="pass">Mot de passe</label>
                         <input type="password" name="password" id="pass">
                         <input type="hidden" name="token" value="{{ token }}">
					  </div>
                      <div class="col-12">
					  <ul class="actions">
						  <li><button>Valider</button>      
					  </ul>
					</div>
				</form>
    </section> 
</div>
{% endblock %}
