<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activation de compte</title>

    <link rel="stylesheet" href="{{ absolute_url(asset('css/fichier.css')) }}">
</head>
<body>
    <h1>Activation de votre compte</h1>
    <p>Vous avez créé un compte sur notre site, veuillez cliquer sur le lien ci-dessous pour l'activer</p>
    <p><a href="{{ absolute_url(path('activation', {'token': token})) }}">Activer mon compte</a></p>    
</body>
</html>




