{% extends 'base.html.twig' %}

{% block title %}Edit ReservationVoyage{% endblock %}

{% block body %}
    <h1>Edit ReservationVoyage</h1>

    {{ include('reservation_voyage/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('reservation_voyage_index') }}">back to list</a>

    {{ include('reservation_voyage/_delete_form.html.twig') }}
{% endblock %}
