<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nouvelle inscription</title>
</head>
<body>
    <h1>Nouveau compte</h1>
    <p>Cher administrateur, un nouveau compte vient d'être créé sur TravelMe</p>
</body>
</html>